

.product-component {
    border : 2px dotted black;
    margin: 30%;
    padding: 10%;
}


.product-label {
    align-self : center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}